.page.header {
  height: 83px;
}

.page .nav-list {
  float: none;
  display: inline-block;
}

.page .nav {
  text-align: center;
}

.banner {
  width: 100%;
  height: 400px;
  text-align: center;
  padding:  100px 0;
  background: #00D4C6 url('https://video.my51share.com/image/default/727CDE619A01405F84F02413D738D641-6-2.png') no-repeat center top;
  box-sizing: border-box;
}

.banner span {
  text-align: center;
  margin: auto;
}

.banner .title {
  display: block;
  font-size:48px;
  font-weight:normal;
  color:rgba(255,255,255,1);
  line-height:65px;
  margin-bottom: 40px;
}

.banner .btn {
  padding: 16px 30px;
  border-radius:7px;
  border:1px solid rgba(255,255,255,1);
  font-size:18px;
  font-weight:normal;
  color:rgba(255,255,255,1);
  line-height:25px;
  text-align: center;
  margin: auto;
}

.about-content {
  width: 100%;
  padding: 80px 0 40px;
  background: #FFF;
  box-sizing: border-box;
}

.about-img {
  width: 50%;
}

.about-img img {
  display: block;
}

.about-font {
  width: 50%;
  padding-left: 109px;
  box-sizing: border-box;
}

.about-font span {
  display: block;
  width: 100%;
  font-size:18px;
  font-weight:bold;
  color:rgba(29,41,63,1);
  line-height:32px;
  margin-bottom: 40px;
  text-indent: 36px;
}

.contact {
  width: 100%;
  padding: 120px 0;
  box-sizing: border-box;
  background:rgba(0,209,160,0.04);
}

.contact-font {
  width: 50%;
}

.contact-map {
  width: 50%;
}

.font-wrapper {
  width:404px;
  font-size:18px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:bold;
  color:rgba(29,41,63,1);
  line-height:42px;
}

.font-wrapper .font-title {
  width: 100px;
}

.font-wrapper .font-content {
  width: 304px;
}

.ewm-wrapper {
  display: block;
  width: 109px;
}

.ewm-wrapper img {
  display: block;
}

.ewm-wrapper span {
  display: block;
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:bold;
  color:rgba(29,41,63,1);
  line-height:14px;
  text-align: center;
}

.my-map { 
  margin: 0 auto;
  width: 540px;
  height: 400px;
}

.amap-container {
  height: 100%;
  border-radius:12px;
}

.pages.footer {
  position: static;
}

@media screen and (max-width: 1200px) {
  .contact, .about-content {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    box-sizing: border-box;
  }

  .about-img img {
    width: 100%;
  }

  .about-font {
    padding-left: .2rem;
  }

  .my-map {
    width: 100%;
  }
}



@media screen and (max-width: 900px) {
  .ewm-wrapper {
    display: none;
  }

  .fl, .fr {
    float: none;
  }

  .about-img {
    width: 60%;
    margin: auto;
  }

  .about-img img {
    width: 100%;
  }

  .about-font {
    padding-left: 0;
    width: 60%;
    margin: auto;
    margin-top: 20px;
  }

  .about-font span:last-child {
    margin: 0;
  }

  .my-map {
    width: 100%;
  }

  .contact {
    margin: auto;
    padding: .5rem 0;
  }

  .contact-font {
    margin: auto;
  }
  
  .contact-map {
    margin: auto;
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .page.header {
    height: auto;
  }
  .menu.fr {
    float: right;
  }

  .banner {
    width: 100%;
    height: 5rem;
    padding: 1.2rem 0;
  }

  .banner .title {
    font-size:0.96rem;
    font-family:Alibaba-PuHuiTi-M,Alibaba-PuHuiTi;
    font-weight:normal;
    color:rgba(255,255,255,1);
    line-height:1.3rem;
    margin-bottom: .4rem;
  }

  .banner .btn {
    font-size:0.36rem;
    font-family:Alibaba-PuHuiTi-R,Alibaba-PuHuiTi;
    font-weight:normal;
    color:rgba(255,255,255,1);
    line-height:0.5rem;
    padding: .17rem .31rem;
    border-radius:0.14rem;
    border:0.02rem solid rgba(255,255,255,1);
  }

  .about-img {
    width: 100%;
    margin-bottom: .38rem;
  }

  .about-img .img {
    width: 100%;
  }

  .about-content {
    padding: 1.2rem .2rem;
  }

  .about-font {
    width: 100%;
  }

  .about-font span {
    font-size:0.36rem;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:bold;
    color:rgba(29,41,63,1);
    line-height:0.64rem;
    margin-bottom: .4rem;
  }

  .contact {
    width: 100%;
    padding: 1.36rem .2rem 1.2rem;
  }

  .contact-font {
    width: 100%;
  }

  .font-wrapper {
    width:6.5rem;
    margin: auto;
    font-size:0.36rem;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:bold;
    color:rgba(29,41,63,1);
    line-height:0.84rem;
  }

  .font-wrapper .font-title {
    width: 2rem;
  }

  .font-wrapper .font-content {
    width: 4.5rem;
  }

  .fl {
    float: left;
  }
  
  .contact-map  {
    width: 100%;
  }

  .my-map {
    width:6.5rem;
    height:5.48rem;
    background:rgba(216,216,216,1);
    border-radius:0.24rem;
    margin: auto;
  }
}