html, body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.banner {
  position: relative;
  width: 100%;
  height: 100%;
  /* background: #000; */
  padding-bottom: 118px;
  box-sizing: border-box;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.crilce-one {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.crilce-two {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 146px;
}

.content-box {
  position: relative;
  transform: scale(1);
  padding-left: 47px;
  z-index: 999;
}

.phone-font {
  position: relative;
  z-index: 8;
}

.phone-font > span {
  display: block;
}

.phone-font .phone-title {
  font-size:60px;
  font-weight:600;
  color:rgba(29,41,63,1);
  line-height:70px;
}

.phone-font .phone-content {
  font-size:25px;
  font-weight:600;
  color:rgba(51,51,51,1);
  line-height:34px;
  margin-top: 26px;
}

.phone-font .phone-content i {
  color: #F03D81;
  font-style: normal;
}

.phone-font .phone-tips {
  font-size:21px;
  font-weight:400;
  color:rgba(168,168,168,1);
  line-height:34px;
  margin-top: 28px;
}

.btn {
  width:239px;
  height:75px;
  line-height: 75px;
  border-radius:5px;
  padding: 0 24px;
  box-sizing: border-box;
}

.btn.apple {
  background:linear-gradient(90deg,rgba(0,214,211,1) 0%,rgba(0,206,124,1) 100%);
  margin-top: 68px;
}

.btn.android {
  border:2px solid rgba(226,228,232,1);
  margin-top: 15px;
}

.btn .img-box {
  position: relative;
  width: 40px;
  float: left;
  display: block;
  line-height: 75px;
  height:75px;
  margin-right: 23px;
}

.btn .img-box img {
  float: left;
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 3px;
}

.btn-font-box span {
  display: block;
}

.btn-font-box {
  float: left;
  padding-top: 12px;
}

.btn-font-box span.btn-tips {
  font-size:16px;
  font-weight:500;
  color:rgba(233,247,254,1);
  line-height:16px;
}

.btn.android .btn-font-box span.btn-tips {
  color:rgba(124,128,135,1);
}

.btn-font-box span.btn-font {
  font-size:24px;
  font-weight:400;
  color:rgba(255,255,255,1);
  line-height:34px;
  margin-top: 3px;
}

.btn.android .btn-font-box span.btn-font {
  color:rgba(29,41,63,1);
}

@media screen and (max-width: 1110px) {
  .content-box {
    padding: 0;
  }

  .content-box .phone-font.fl {
    float: none;
    text-align: center;
  }

  .btn {
    margin: auto;
  }

  .phone-bg.fr {
    float: none;
  }

  .crilce-one, .crilce-two {
    display: none;
  }

  .btn.apple {
    margin-top: 40px;
  }

  .phone-bg {
    margin-top: 54px;
    padding-bottom: 62px;
  }

  .phone-bg img {
    display: block;
    margin: auto;
  }
}



@media screen and (max-width: 768px) {
  .page.header {
    box-shadow:0rem 0.02rem 0.06rem 0rem rgba(0,0,0,0.1);
  }

  .banner {
    height: 19.64rem;
    padding: 0;
    overflow: hidden;
  }

  .banner-content {
    position: static;
    top: 0;
    left: 0;
    transform: none;
  }

  .content-box {
    padding: 0;
    position: static;
  }

  .phone-font .phone-title {
    font-size:0.96rem;
    font-family:PingFangSC-Semibold,PingFang SC;
    font-weight:600;
    color:rgba(29,41,63,1);
    line-height:1.4rem;
    margin-top: 1.2rem;
  }

  .phone-font .phone-content {
    font-size:0.36rem;
    font-family:PingFangSC-Semibold,PingFang SC;
    font-weight:600;
    color:rgba(51,51,51,1);
    line-height:0.68rem;
    margin-top: .08rem;
  }

  .phone-font .phone-tips {
    font-size:0.36rem;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(168,168,168,1);
    line-height:0.68rem;
    margin-top: .14rem;
  }

  .btn.apple {
    margin-top: .6rem;
  }

  .content-box .phone-font.fl {
    float: none;
    text-align: center;
  }

  .btn {
    margin: auto;
  }

  .btn-font-box {
    text-align: left;
  }

  .btn.android {
    margin-top: .3rem;
  }

  .phone-bg.fr {
    float: none;
  }

  .btn {
    width:4.78rem;
    height:1.5rem;
    padding: 0 .42rem;
  }

  .btn .img-box {
    width: .8rem;
  }
  
  .btn.apple .img-box img {
    width: .68rem;
    height: .68rem;
  }

  .btn.android .img-box img {
    width: .8rem;
    height: .8rem;
  }

  .btn-font-box span.btn-tips {
    font-size:0.32rem;
    font-weight:500;
    color:rgba(233,247,254,1);
    line-height:0.32rem;
  }

  .btn-font-box {
    margin-top: 0;
  }

  .btn-font-box span.btn-font {
    font-size:0.48rem;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:0.68rem;
  }

  .crilce-one, .crilce-two {
    display: none;
  }

  .phone-bg {
    position: relative;
    width: 100%;
    height: 9.74rem;
    margin: 0;
    padding: 0;
    padding-top: 1.1rem;
  }

  .phone-bg img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    max-height: 90%;
    margin: auto;
  }
}
